# Logs
logs
*.log
npm-debug.log*

# Coverage directory
coverage

# Dependency directories
node_modules

# Optional npm cache
.npm

.DS_Store

# Editor
.vscode
.idea

# Build output
dist

# temp
**temp**
